Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
null.d
src/Makefile.in
Makefile
config.h
config.log
config.status
libtool
src/.deps/
src/.libs/
src/Makefile
src/gpio.lo
src/gpio.o
src/icsc.lo
src/icsc.o
src/libicsc.la
src/serial.lo
src/serial.o
stamp-h1

